<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASOLIDE</title>
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>ASOLIDE</h1>
          <div id="editor" style="height: 200px;">module DE2_115 {
    reg out[5];

    if (___ == _) {                    // KEYを押しているときに入力
        out __ GPIO[4:0] _ GPIO[9:5];  // AとBを足す
    } else {                           // KEYを離したときに出力する
        GPIO = { 21'b0, ___, 10'b0 };
    }
}</div>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="button" data-toggle="collapse" data-target="#log" aria-expanded="false" aria-controls="log">
            <span class="glyphicon glyphicon-play" id="icon"></span>
          </button>
          <textarea class="form-control collapse" id="log" rows="10" disabled></textarea>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <script src="vendors/socket.io-client/socket.io.js"></script>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/ace-builds/src-min/ace.js"></script>
    <script>
$(function(){
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/verilog");
  var socket = io();
  socket.on('system', function (msg) {
    if (msg === 'Compiling') {
      $('#button').removeAttr('data-toggle aria-controls');
      $('#button').removeClass('btn-primary');
      $('#button').addClass('btn-danger');
      $('#icon').removeClass('glyphicon-play');
      $('#icon').addClass('glyphicon-refresh');
      $('#log').css('background-color', '');
    } else if (msg === 'Finished') {
      $('#button').removeClass('btn-danger');
      $('#button').addClass('btn-primary');
      $('#icon').removeClass('glyphicon-refresh');
      $('#icon').addClass('glyphicon-play');
      $('#log').css('background-color', '#d9edf7');
    }
    $('#log').append(msg + '\n');
    $('#log').scrollTop($('#log')[0].scrollHeight);
  });
  socket.on('stdout', function (msg) {
    $('#log').append(msg + '\n');
    $('#log').scrollTop($('#log')[0].scrollHeight);
    $('#log').css('background-color', '');
  });
  socket.on('stderr', function (msg) {
    $('#log').append(msg + '\n');
    $('#log').scrollTop($('#log')[0].scrollHeight);
    $('#log').css('background-color', '#f2dede');
  });
  $('#button').click(function(){
    $.ajax({
      url: 'http://localhost:3000/exec',
      type: 'post',
      data: { source: editor.getValue() },
      timeout: 10000,
      size: 10000,
      dataType: 'text'
    })
    .done(function( data ) {
      // 通信が成功したときの処理
    })
    .fail(function( data ) {
      // 通信が失敗したときの処理
    })
    .always(function( data ) {
      // 通信が完了したとき
    });
  });
});
    </script>
  </body>
</html>
